<p-dataTable [value]="cars" [editable]="true" expandableRows="true">
  <p-column expander="true" [style]="{'width':'38px'}"></p-column>
  <p-column field="color" header="color" [editable]="true"></p-column>
  <p-column field="brand" header="brand" [editable]="true"></p-column>
  <p-column field="name" header="name" [editable]="true"></p-column>
  <p-column field="year" header="year" [editable]="true"></p-column>
</p-dataTable>

<form novalidate #myForm="ngForm">
  <kendo-grid [data]="view | async" [height]="533" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
    [pageable]="true" [sortable]="true" (dataStateChange)="onStateChange($event)" (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
    (save)="saveHandler($event)" (remove)="removeHandler($event)" (add)="addHandler($event)">
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand>Add new</button>
    </ng-template>
    <kendo-grid-column field="ProductName" title="Product Name">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input [(ngModel)]="dataItem.ProductName" name="ProductName" class="k-textbox" required/>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="UnitPrice" editor="numeric" title="Price">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input [(ngModel)]="dataItem.UnitPrice" name="UnitPrice" class="k-textbox" type="number" />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Discontinued" editor="boolean" title="Discontinued">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input [(ngModel)]="dataItem.Discontinued" name="Discontinued" type="checkbox" />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="UnitsInStock" editor="numeric" title="Units In Stock">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input [(ngModel)]="dataItem.UnitsInStock" name="UnitsInStock" required min="0" max="99" class="k-textbox" type="number"
        />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column title="command" width="220">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridEditCommand class="k-primary">Edit</button>
        <button kendoGridRemoveCommand>Remove</button>
        <button kendoGridSaveCommand [disabled]="myForm.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
        <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</form>
<br>
<br>

<kendo-grid [data]="gridView" [selectable]="true" style="height:400px">
  <kendo-grid-column field="ProductName" title="Product" [width]="300"></kendo-grid-column>
  <kendo-grid-column field="ProductID" title="ID" [width]="50"></kendo-grid-column>
  <kendo-grid-column field="UnitPrice" title="Unit Price" [width]="100"></kendo-grid-column>
  <kendo-grid-column field="QuantityPerUnit" title="Qty Per Unit"></kendo-grid-column>
  <ng-template kendoGridDetailTemplate let-dataItem>
    <section *ngIf="dataItem.Category">
      <p><strong>In Stock:</strong> {{dataItem.UnitsInStock}} units</p>
      <p><strong>On Order:</strong> {{dataItem.UnitsOnOrder}} units</p>
      <p><strong>Reorder Level:</strong> {{dataItem.ReorderLevel}} units</p>
      <p><strong>Discontinued:</strong> {{dataItem.Discontinued}}</p>
      <p><strong>Category:</strong> {{dataItem.Category?.CategoryName}} - {{dataItem.Category?.Description}}</p>
    </section>
  </ng-template>
</kendo-grid>
